<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div class="header">
				<div class="vertical-menu" id="sbm">
					<a href="#" class="close" id="closebtn" type="button">x</a>
					<a href="#" class="active">Accueil</a>
					<a href="#">Devis</a>
					<a href="#">Commentaire</a>
					<a href="#">Contact</a>
				</div>
				<button id="gauche" class="btn" type="button">
					<img src="{{ asset('Image/burger-menu.svg') }}" id="Burger">
                </button>
				<article id="millieu">L'aspi Magique
					<img class="logo" src="{{ asset('Image/Logo.jpg')}}" alt=""></article>
				<article id="droite">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" id="user">
						<path class="svg-path" fill="#c9e265" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path>
					</svg>
				</article>
			</div>
			<div class="back hidden"></div>
			<div class="hidden connexion">
			<button class="closeco" type="button"><img src="{{ asset('Image/x.svg') }}" id="closed"></button>
				<h2 class="titre">Connexion</h2>	
				<form method="POST">
					<div class="email">
						<label for="loginName">Email</label>
						<input id="loginName" type="text" name="loginName">
					</div>
			
					<div class="mdp">
						<label for="password">Mot de Passe</label>
						<input id="password" type="password" name="password">
					</div>				
				<div class="login"><input id="co"  type="submit" value="Se connecter"></div>		
				
			</form>
			<p class="fdp"><a>Mot de passe oublié ?</a></p>
			</div>
		{% endblock %}


        {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
		{% endblock %}
	</body>
</html>
